{{> nav}}

<div class='singlebeer'>
    <div class='row'>
        <div class='col-xs-3'>
            <div class='panel panel-default beer-image-panel'>
                <img class='single-beer-image center-block thumbnail' src='https://dydza6t6xitx6.cloudfront.net/ci_2822.jpg' />
                <div class='hashtags-container'>
                    <div class='hashtags' id='hashtags'>
                            {{#each hashtags}}
                                {{this}}
                            {{/each}}
                    </div>
                    <hr>
                </div>
                <div class='beer-detailed-stats-container'>
                    <div>
                        <div><strong>Starting Gravity: </strong><span id='sg'>{{ SG }}</span></div>
                    </div>
                    <div>
                        <div><strong>Ending Gravity: </strong><span id='eg'>{{ OG }}</span></div>
                    </div>
                    <div>
                        <div><strong>ABV: </strong><span id='abv'>{{ alcoholByVolume }}</span></div>
                    </div>
                    <div>
                        <div><strong>IBU: </strong><span id='ibu'>{{ ibu }}</span></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class='col-xs-9'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='beer-name text-center' id='beerName'>
                              {{ recipeName }}
                            </div>
                            <div class='single-beer-user-name' id='usernameLink'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body ingredients-panel'>
                        <div class='text-right'>
                                <span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true" id='upvoteArrow'></span>
                                <span class='upvotes'>{{ upvotes }}</span>
                        </div>
                    <div class='description-container'>
                        {{description}}
                    </div>
                    <hr>
                    <div class='ingredients-container'>
                            <div class='ingredients-header'>Ingredients</div>
                        </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Yeasts: </strong>
                            <span class='ingredients' id='yeasts'>
                                {{#each ingredients.yeasts}}
                                    {{this}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Hops: </strong>
                            <span class='ingredients' id='hops'>
                                {{#each ingredients.hops}}
                                    {{this}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Yeasts: </strong>
                            <span class='ingredients' id='grains'>
                                {{#each ingredients.grains}}
                                    {{this}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Adjuncts: </strong>
                            <span class='ingredients' id='adjuncts'>
                                {{#each ingredients.adjuncts}}
                                    {{this}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class='directions-container'>
                            <div class='directions-header'>Directions</div>
                            <div class='directions' id='directions'>
                                {{recipeDirections}}
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class='panel panel-default'>
                <div class='panel-heading user-comments-header'>
                    User Comments - for each comment, need user comment and user name
                </div>
                <div class='panel-body'>
                    <div class='comments-container'>
                        <ul class='list-group comments' id='comments'>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- To render this page, get request needs to return the following

    Beer name
    Description
    Hashtags
    Username
    Ingredients
    Directions
    Starting Gravity
    Ending Gravity
    ABU
    FBU
    Beer picture URL
    Upvotes
    Beer type
    User comments object with username/username route

    Also, brew conditions? (Brewtime?)

 --}}
<script>

// $(document).ready(function() {

var isUpvoted = true;


    function changeUpvoteColor(id) {

        var numberOfVotes = $(".upvotes").text()

        if (isUpvoted) {
            $(id).addClass('red');
            isUpvoted = false;

            numberOfVotes = parseInt(numberOfVotes) + 1;
            $(".upvotes").text(numberOfVotes);
            return;
        } 
        
        if (!isUpvoted) {
            $(id).removeClass('red');
            isUpvoted = true;

            numberOfVotes = parseInt(numberOfVotes) - 1;
            $(".upvotes").text(numberOfVotes);

            return;
        }

        ;

    }


    $("#upvoteArrow").on('click', function() {
        changeUpvoteColor('#upvoteArrow');
    })



    
</script>