{{> nav}}

<div class='singlebeer'>
    <div class='row'>
        <div class='col-xs-3'>
            <div class='panel panel-default beer-image-panel'>
                <img class='single-beer-image center-block thumbnail' src='{{picUrl}}' data-failover="http://snlonlinegrocery.com/wp-content/uploads/2016/10/san-mig-light-in-can.jpg"/>
                <div class='hashtags-container'>
                    <div class='hashtags' id='hashtags'>
                            {{#each recipeHashtags}}
                            {{this}}
                            {{/each }}
                    </div>
                    <hr>
                </div>
                <div class='beer-detailed-stats-container'>
                    <div>
                        <div><strong>Starting Gravity: </strong><span id='sg'>{{ SG }}</span></div>
                    </div>
                    <div>
                        <div><strong>Final Gravity: </strong><span id='eg'>{{ FG }}</span></div>
                    </div>
                    <div>
                        <div><strong>ABV: </strong><span id='abv'>{{ ABV }}</span></div>
                    </div>
                    <div>
                        <div><strong>IBU: </strong><span id='ibu'>{{ IBU }}</span></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class='col-xs-9'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='beer-name text-center' id='beerName'>
                              {{ recipeName }}
                            </div>
                            <div class='single-beer-user-name' id='usernameLink'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body ingredients-panel'>
                        <div class='text-right'>
                                <span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true" id='upvoteArrow'></span>
                                <span class='upvotes'>{{ upvotes }}</span>
                        </div>
                    <div class='description-container'>
                        {{recipeDesc}}
                    </div>
                    <hr>
                    <div class='ingredients-container'>
                            <div class='ingredients-header'>Ingredients</div>
                        </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Grains: </strong>
                            <span class='ingredients' id='yeasts'>
                                {{#each grains}}
                                {{iName}}
                                {{iQty}}
                                {{iDesc}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Hops: </strong>
                            <span class='ingredients' id='hops'>
                                {{#each hops}}
                                {{iName}}
                                {{iQty}}
                                {{iDesc}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Yeasts: </strong>
                            <span class='ingredients' id='grains'>
                                {{#each yeasts}}
                                {{iName}}
                                {{iQty}}
                                {{iDesc}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Adjuncts: </strong>
                            <span class='ingredients' id='adjuncts'>
                                {{#each adjuncts}}
                                {{iName}}
                                {{iQty}}
                                {{iDesc}}
                                {{/each}}
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class='directions-container'>
                            <div class='directions-header'>Directions</div>
                            <div class='directions' id='directions'>
                                {{recipeDirections}}
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class='panel panel-default'>
                <div class='panel-heading user-comments-header'>
                    <h5>Community Comments</h5>
                </div>
                <div class='panel-body'>
                    <div class='comments-container'>
                        <ul class='list-group comments' id='comments'>
                            - {{recipeComments}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- To render this page, get request needs to return the following

    Beer name
    Description
    Hashtags
    Username
    Ingredients
    Directions
    Starting Gravity
    Ending Gravity
    ABU
    FBU
    Beer picture URL
    Upvotes
    Beer type
    User comments object with username/username route

    Also, brew conditions? (Brewtime?)

 --}}
<script>

// $(document).ready(function() {

var isUpvoted = true;


    function changeUpvoteColor(id) {

        var numberOfVotes = $(".upvotes").text()

        if (isUpvoted) {
            $(id).addClass('red');
            isUpvoted = false;

            numberOfVotes = parseInt(numberOfVotes) + 1;
            $(".upvotes").text(numberOfVotes);
            return;
        } 
        
        if (!isUpvoted) {
            $(id).removeClass('red');
            isUpvoted = true;

            numberOfVotes = parseInt(numberOfVotes) - 1;
            $(".upvotes").text(numberOfVotes);

            return;
        }

        ;

    }


    $("#upvoteArrow").on('click', function() {
        changeUpvoteColor('#upvoteArrow');
    })


    
$('.single-beer-image').on('error', function() {
     var failover = $(this).data('failover');
    if (this.src != failover){
      this.src = failover;
    }
});

</script>