{{> nav}}

<div class='singlebeer'>
    <div class='row'>
        <div class='col-xs-3'>
            <div class='panel panel-default beer-image-panel'>
                <img class='single-beer-image center-block thumbnail' alt={{recipeName}} src='{{picUrl}}' data-failover="http://snlonlinegrocery.com/wp-content/uploads/2016/10/san-mig-light-in-can.jpg"/>
                <div class='hashtags-container'>
                    <div class='hashtags' id='hashtags'>
                            {{#each recipeHashtags}}
                            <span class='hashtag'>{{this}}</span>
                            {{/each }}
                    </div>
                    <hr>
                </div>
                <div class='beer-detailed-stats-container'>
                    <div>
                        <div><strong>Starting Gravity: </strong><span id='sg'>{{ SG }}</span></div>
                    </div>
                    <div>
                        <div><strong>Final Gravity: </strong><span id='eg'>{{ FG }}</span></div>
                    </div>
                    <div>
                        <div><strong>ABV: </strong><span id='abv'>{{ ABV }}</span></div>
                    </div>
                    <div>
                        <div><strong>IBU: </strong><span id='ibu'>{{ IBU }}</span></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class='col-xs-9'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class='beer-name text-center' id='beerName'>
                              {{recipeName }}
                            </div>
                            <div class='single-beer-user-name' id='usernameLink'>
                                <a href='#'>Username here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-body ingredients-panel'>
                        <div class='row'>
                            <div class='col-xs-10'>
                                <div class='beer-style'>
                                    {{styleName}}
                                </div>
                            </div>
                            <div class='col-xs-2'>
                                <div class='text-right'>
                                    <span class="glyphicon glyphicon glyphicon-arrow-up" aria-hidden="true" id='upvoteArrow'></span>
                                    <span class='upvotes' id = "upvotecount">{{ upvotes }}</span>
                                </div>        
                            </div>
                        </div>
                        
                    <div class='description-container'>
                        <div class='single-recipe-description'>{{recipeDesc}}</div>
                    </div>
                    <hr>
                    <div class='ingredients-container'>
                            <div class='ingredients-header'>Ingredients</div>
                        </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Grains: </strong>
                            <ul class='ingredients' id='yeasts'>
                                {{#if grains}}    
                                {{#each grains}}
                                    <li>{{iQty}} {{iDesc}} of <span class='ingredient-name'>{{iName}}</span></li>
                                {{/each}}
                                {{else}}
                                    <li class='red single-beer-empty-ingredient'>No Grains</li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Hops: </strong>
                            <ul class='ingredients' id='hops'>
                                {{#if hops}}    
                                {{#each hops}}
                                    <li>{{iQty}} {{iDesc}} of <span class='ingredient-name'>{{iName}}</span></li>
                                {{/each}}
                                {{else}}
                                    <li class='red single-beer-empty-ingredient'>No hops</li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Adjuncts: </strong>
                            <ul class='ingredients' id='grains'>
                                {{#if adjuncts}}    
                                {{#each adjucnts}}
                                    <li>{{iQty}} {{iDesc}} of <span class='ingredient-name'>{{iName}}</span></li>
                                {{/each}}
                                {{else}}
                                    <li class='red single-beer-empty-ingredient'>No Adjuncts</li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class='ingredient-container'>
                            <strong>Yeasts: </strong>
                            <ul class='ingredients' id='adjuncts'>
                                {{#if yeasts}}    
                                {{#each yeasts}}
                                    <li>{{iQty}} {{iDesc}} of <span class='ingredient-name'>{{iName}}</span></li>
                                {{/each}}
                                {{else}}
                                    <li class='red single-beer-empty-ingredient'>No Yeasts</li>
                                {{/if}} 
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class='directions-container'>
                            <div class='directions-header'>Directions</div>
                            <div class='directions' id='directions'>
                                {{recipeDirections}}
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class='panel panel-default'>
                <div class='panel-heading user-comments-header'>
                    <h5 class='text-center comments-header'>Community Comments</h5>
                </div>
                <div class='panel-body'>
                    <div class='comments-container'>
                        <ul class='list-group comments' id='comments'>
                            <li class='list-group-item'>
                                <div class='single-beer-comment-name'>
                                    TupacLives9312
                                </div>
                                <hr>
                                <div class='single-beer-comment-body'>
                                    dope beer yo
                                </div>
                            </li>
                            {{#if recipeComments}}
                            <li class='list-group-item'>
                                <div class='single-beer-comment-name'>
                                    NickelbackFan4231
                                </div>
                                <hr>
                                <div class='single-beer-comment-body'>
                                    {{recipeComments}}
                                </div>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- To render this page, get request needs to return the following

    Beer name
    Description
    Hashtags
    Username
    Ingredients
    Directions
    Starting Gravity
    Ending Gravity
    ABU
    FBU
    Beer picture URL
    Upvotes
    Beer type
    User comments object with username/username route

    Also, brew conditions? (Brewtime?)

 --}}
<script>

// $(document).ready(function() {

var isUpvoted = true;


    function changeUpvoteColor(id) {

        var numberOfVotes = $(".upvotes").text()

        if (isUpvoted) {
            $(id).addClass('red');
            isUpvoted = false;

            numberOfVotes = parseInt(numberOfVotes) + 1;
            $(".upvotes").text(numberOfVotes);
            return;
        } 
        
        if (!isUpvoted) {
            $(id).removeClass('red');
            isUpvoted = true;

            numberOfVotes = parseInt(numberOfVotes) - 1;
            $(".upvotes").text(numberOfVotes);

            return;
        }

        ;

    }


    $("#upvoteArrow").on('click', function() {

        if (isUpvoted) {


        let recId = {{recipeId}};
        let curUp = {{upvotes}};

        console.log(recId, typeof recId);
        console.log(curUp, typeof curUp);


        $.ajax('/recipe/upvote', {
        type: "PUT",
        data: {
            currentUp: curUp,
            id: recId
        }
      }).then(function(data) {
        console.log('recipe Upvoted');
        changeUpvoteColor('#upvoteArrow');
      })
        }

        
    })

$('.hashtag').on('click', function() {

    var tag = $(this).text()
    tag = tag.substr(1, tag.length);
    var link = `/searchby/Hashtag/${tag}`
    console.log(link);

    window.location.href = link
})
    
$('.single-beer-image').on('error', function() {
     var failover = $(this).data('failover');
    if (this.src != failover){
      this.src = failover;
    }
});

</script>