{{> nav}}

<div class='userprofile'>
    <div class='row'>
        <div class='col-md-9'>
            <div class='user-beer-list'>
                    
                <ul class='list-group' id='beerList'>
                    <li class='list-group-item'>
                        <div class='username-header'>
                            <span id='username'>{{userName}}</span>
                        </div> 
                    </li>     
                </ul>
            </div>
        </div>
        <div class='col-md-3'>
            <div class='user-stats panel panel-default'>
                <div class='panel-heading user-stats-heading'><strong>{{userName}}</strong> Info</div>
                <div class='panel-body user-stats-body'>
                    <div class='user-stats-beers-made'>
                        <strong>Name: </strong><span id='user-name'>{{firstName}}</span>
                    </div>
                    <div class='user-stats-beers-made'>
                        <strong>City: </strong><span id='user-name'>{{city}}</span>
                    </div>
                    <div class='user-stats-beers-made'>
                        <strong>State: </strong><span id='user-name'>{{state}}</span>
                    </div>
                    <div class='user-stats-beers-made'>
                       <strong>Zip: </strong> <span id='user-name'>{{zipCode}}</span>
                    </div>
                    <div class='user-stats-beers-made'>
                        <strong>E-mail: </strong><span id='user-name'>{{email}}</span>
                    </div>
                </div>
            </div>
            <div class='user-stats panel panel-default'>
                <div class='panel-heading user-stats-heading'><strong>{{userName}}</strong> Stats</div>
                <div class='panel-body user-stats-body'>
                    <div class='user-stats-beers-made'>
                    <strong>Beers Submitted: </strong><span id='beersSubmitted'></span>
                    </div>
                    <div class='user-stats-total-upvotes'>
                        <strong>Upvotes: </strong>
                        <span id='upvotes'>
                           
                        </span>
                    </div>
                    <div class='favorite-style'>
                        <div id='favoriteStyle'>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    
    $.ajax({
		method: "GET",
		url: '/api/profile/' + {{userId}}
		}).then(function(data) {
            console.log(data);
            renderBeers(data);

            var totalUpvotes = data.reduce((upvotes, beer) => {
                return upvotes + beer.upvotes
            }, 0)

            $("#upvotes").text(totalUpvotes);
            $("#beersSubmitted").text(data.length);
        })
    
    function renderHashtags(string) {
		var array = string.split(',')
		var result = array.map(hashtag => {
			return `<div class='hashtag-list-item'>${hashtag}</div>`
		})
		return result.join('');
	}

    function renderBeers(array) {
	
		array.map(beer => {
			var name = beer.recipeName;
			var upvotes = beer.upvotes;
			var style = beer.styleName;
			var description = beer.recipeDesc;
			var hashtags = renderHashtags(beer.hashtags)
			var id = beer.recipeId;


			$('#beerList').append(`<li class='list-group-item'>
				<div class='row'>
					<div class='col-xs-10'>
						<div class='list-beer-name'>
							<a class='list-beer-name-link' href='/recipe/${id}' target='_blank'>${name}</a>
							<span class='list-beer-style' data='${style}'>(${style})</span>
							<span class='search-list-description'>${description}</span>
						</div>
						<div class='style-and-hashtags-container'>
							<span class='search-list-hashtags'>${hashtags}</span>
						</div>
					</div>
					<div class='col-xs-2 text-right' id='listBeerUpvotes'>
						<span isUpvoted='false' class='glyphicon glyphicon glyphicon-arrow-up upvoteArrow' aria-hidden='true' data-upvotes=${upvotes} data=${id}>${upvotes}</span>
					</div>
				</div>
				</li>`)
		})
		
    }
    
    $(document).on('click', '.upvoteArrow', function() {

        var currentUp = $(this).attr('data-upvotes');
        var id = $(this).attr('data');

        currentUp = parseInt(currentUp);
        id = parseInt(id);


        $.ajax('/recipe/upvote', {
        type: "PUT",
        data: {
            currentUp,
            id
        }
        }).then(function(data) {
        })




        var upvotes = $(this).text();

        if ($(this).attr('isUpvoted') === 'false') {

            upvotes++;

            $(this).text(upvotes);
            $(this).attr('isUpvoted', 'true');
            $(this).addClass('red');
            return
        }

        // if ($(this).attr('isUpvoted') === 'true') {

        // 	upvotes--;

        // 	$(this).text(upvotes);			
        // 	$(this).attr('isUpvoted', 'false');
        // 	$(this).removeClass('red');
        // 	return
        // }
        })
    

})   
</script>